/*https://www.w3schools.com/howto/howto_css_contact_form.asp*/
/*https://www.w3schools.com/howto/howto_js_filter_elements.asp*/
/*https://www.w3schools.com/css/tryit.asp?filename=trycss_image_gallery_responsive*/

body {
    font-family: 'Open Sans', sans-serif;
    
    text-align: center;
    background-color: white;
    color: dimgrey;
    
    margin: auto;
    padding: 2.5em;
    max-width: 50em;
}
main {
    padding-top: 3em;
    padding-bottom: 3em;
}

/* Header */
h1.header {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: clamp(2.5em, 8vw, 3.3em);
}

/* Navigation */
nav {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: clamp(1em, 3vw, 1.7em);
}
nav a {
    display: inline-block;
    padding: 1em;
}
a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: inherit;
    color: inherit;
}
.navContainer a:hover {
    text-decoration: inherit;
    color: #ed766f;
    border-bottom: 2px solid #ed766f;
}
a.active {
    color: #ed766f;
    border-bottom: 2px solid #ed766f;
}

/* Style the buttons */
.btn {
    font-family: 'Quicksand', sans-serif;
    border: none;
    outline: none;
    padding: 0.5em 0.9em;
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    font-size: 0.9em;
}
.btn:hover {
    color: #ed766f;
}
.btn.active {
    color: #ed766f;
}

/* Content */
.contentContainer {
    overflow: hidden;
    padding: 2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contentTag {
    flex: 40%;
    max-width: 40%;
    margin: 0.4em;
    padding: 0.4em;
    display: none; /* Hidden by default */
}
.contentTag:hover {
    box-shadow: 5px 5px #ed766f;
}
.contentTag img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
    word-wrap: break-word;
}
.show {
    /* The "show" class is added to the filtered elements */
    display: block;
}

/* Form */
.formContainer {
    text-align: left;
}
input[type=text], select, textarea {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #ccc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #ed766f;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}