<!--Filter Buttons-->
<div id="filterBtnContainer">
    <button class="btn" onclick="filterSelect('featured')">Featured</button>
    <button class="btn" onclick="filterSelect('art')">Art</button>
    <button class="btn" onclick="filterSelect('design')">Design</button>
    <button class="btn" onclick="filterSelect('web')">Web</button>
    <button class="btn" onclick="filterSelect('game')">Game</button>
    <button class="btn" onclick="filterSelect('everything')">Everything</button>
</div>

<!--Content-->
<div class="contentContainer">
    <div class="contentTag art">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">1</div>
    </div>
    <div class="contentTag art featured">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">2</div>
    </div>
    <div class="contentTag art">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">3</div>
    </div>
    <div class="contentTag art">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">4</div>
    </div>
    <div class="contentTag art featured">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">5</div>
    </div>
    <div class="contentTag design">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">6</div>
    </div>
    <div class="contentTag design">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">7</div>
    </div>
    <div class="contentTag design">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">8</div>
    </div>
    <div class="contentTag web">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">9</div>
    </div>
    <div class="contentTag web featured">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">10</div>
    </div>
    <div class="contentTag game">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">11</div>
    </div>
    <div class="contentTag game">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">12</div>
    </div>
    <div class="contentTag game">
        <a target="_blank" href="https://via.placeholder.com/150/">
            <img src="https://via.placeholder.com/150/">
        </a>
        <div class="desc">13</div>
    </div>
</div>

<!--Scripts-->
<script>filterSelect("featured");</script>