<html>

  <h3>Simple Database</h3>

  <table>
    <tr>
      <th>id</th>
      <th>input</th>
    </tr>
    <% @items.each do |row| %>
      <tr>
        <td><%= row['id'] %></td>
        <td><%= row['input'] %></td>
      </tr>
    <% end %>
  </table>

  <form action='/insert' method="POST">
    <input type="text" name="input">
    <input type="submit">
  </form>

</html>
