<html>
  <head>
    <title>Answer the questions!</title>
    <style>
      body {
        background: #AA0501;
        color: white;
        font-family: sans-serif;
        text-align: center;
      }
      a {color: white;}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
